h4{
	display:inline;
}

h1{
	margin-bottom: 0px;
}

h2{
	margin-top: 0px;
	margin-bottom: 3px;
}

h3{
	margin-bottom: 3px;
}




#commentDL{
	text-align: center;
}

#firstTextBox{
	width: 14em;
}

#settingsContainer {
	position:relative;
    float: left;
    width: 215px;
    overflow:hidden;
}

#graphTypeImages {
  border: 0px solid #000000;
  column-count:2;
}

.graphimg{
	padding:5px;
	border: solid 1px #EFEFEF;
	opacity:.5;
}

.graphimg:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    opacity:1;
}

.selected {
	border: solid 1px Black !important;
    opacity:1 !important;
}

#Filters{
}

#sliders{
	position:relative;
	left: 12px;
	width:170px;
}

.slider{
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: .7em !important;
	height: 1.2em !important;
	cursor: default;
}

#subrestrictions{
	visibility: hidden;
	height: 0px;
}

#graphContainer {
	position:relative;
    float: left;
    width: 600px;
    text-align: center ;
}

#graph{

}

#legend{
    margin-left: 30px;

}

#commentTextContainer {
	z-index: 999;
	border-left: 4px;
	position:relative;
    float: left;
    width: 300px;
    background-color: #FFFFFF;
}

#footer {
    clear: both;
}

.numInput{
	width: 70px;
}

.dateInput{
	width: 113px;
}

.hidden{
	visibility:visible;
}

.md{
	display:inline;	
}

.filter{
	white-space:nowrap;
}
